body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  width: 100%;
}

header {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  align-self: baseline;
}

.img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}

/* .container {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: baseline;
  align-items: center;
} */

.logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.roboto {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'width';
}

.nav {
  display: inline-block;
  flex-basis: auto;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 50px;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
}

.nav__item {
  position: relative;
  display: inline-block;
  top: -2px;
  justify-content: flex-end;
  margin: 0 10px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  width: auto;
  height: 15px;
}

.item-1 {
  margin-left: 0;
  top: -2.5px;
}

.item-8 {
  margin-right: 0;
}

.nav__link:hover {
  color: #00acdc;
}

.is-active {
  /* position: relative; */
  color: #00acdc;
}

.is-active::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  right: 0;
  top: 36px;
  border-radius: 8px;
  background-color: #00acdc;
}
