body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  max-width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: baseline;
  align-items: center;
  margin: 22px;
}

.logo img {
  width: 40px;
  height: 40 px;
  object-fit: cover;
  margin: 10px 0;
  margin-left: 50px;
}

.roboto {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'width';
}

.nav {
  /* display: flex; */
  margin-left: none;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  margin: 0 10px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  width: auto;
  height: 15;
  margin: 0 10px;
}

.nav__link:hover {
  color: #00acdc;
}

.is-active {
  position: relative;
}

.is-active::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  color: #00acdc;
}
